/clase_10.py
/clase_1py
/clase_2.py
/clase_3.py
/clase_4.py
/clase_5.py
/clase_6.py
/clase_7.py
/clase_8.py
/pre entregas
/startbootstrap-landing-page-gh-pages.zip

# Ignorar archivos de caché de Python en cualquier subcarpeta
__pycache__/
/**/__pycache__/
/*.py[cod]

# Ignorar la base de datos SQLite
db.sqlite3

# Ignorar la carpeta media (por ejemplo, archivos subidos por usuarios)
media/