{% extends 'AppRubros/index.html' %}


{% block titulo %}
      <h1> ¡Hola, {{ usuario.first_name|default:usuario.username }}! Nos alegra tenerte aquí.</h1>
{% endblock titulo %}

{% block contenido %}

    <div class="text-center mb-4">
        <a href="{% url 'acerca_de_mi' %}" class="btn btn-lg btn-outline-primary rounded-pill px-4 shadow-sm">
            Saber más sobre la autora ✨
        </a>
    </div>
</div>
<div class="container mt-5">
    <h2 class="text-center mb-4">Rubros disponibles</h2>


    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <a href="{% url 'lista_gastronomia' %}" class="stretched-link text-decoration-none text-dark">
                        <h5 class="card-title">🍽️ Gastronomía</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <a href="{% url 'lista_nocturno' %}" class="stretched-link text-decoration-none text-dark">
                        <h5 class="card-title">🌃 Nocturno</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <a href="{% url 'lista_cultural' %}" class="stretched-link text-decoration-none text-dark">
                        <h5 class="card-title">🎭 Cultural</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <a href="{% url 'lista_diseño' %}" class="stretched-link text-decoration-none text-dark">
                        <h5 class="card-title">🎨 Diseño</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}