{% extends 'AppRubros/index.html' %}

{% load static %}
{% block header_style %}
    style="background-image: url('{% static 'assets/img/disenio.jpg' %}');
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;
           height: 400px;"
{% endblock header_style %}

{% block titulo %}
<h1>Busqueda de casas de Diseño</h1>
{% endblock titulo %}


{% block contenido %}
    <div class="container mt-5">
        <h2>Buscar casa de Diseño</h2>
        <form method="get" action="{% url 'buscar_diseño' %}">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        {% if resultados %}
            <h3 class="mt-4">Resultados:</h3>
            <ul>
                {% for actividad in resultados %}
                    <li>{{ actividad.nombre }} - {{ actividad.barrio }} - {{ actividad.direccion }}</li>
                {% endfor %}
            </ul>
        {% elif form.is_bound %}
            <p>No se encontraron resultados.</p>
        {% endif %}
    </div>
{% endblock contenido%}