{% extends 'AppRubros/index.html' %}

{% block titulo %}
<h1>Busqueda de espacios culturales</h1>
{% endblock titulo %}


{% block contenido %}
    <div class="container mt-5">
        <h2>Buscar centro cultural</h2>
        <form method="get" action="{% url 'buscar_cultural' %}">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        {% if resultados %}
            <h3 class="mt-4">Resultados:</h3>
            <ul>
                {% for actividad in resultados %}
                    <li>{{ actividad.nombre }} - {{ actividad.barrio }} - {{ actividad.direccion }}</li>
                {% endfor %}
            </ul>
        {% elif form.is_bound %}
            <p>No se encontraron resultados.</p>
        {% endif %}
    </div>
{% endblock contenido%}