{% extends 'AppRubros/index.html' %}

{% block titulo %}
<h1 class="mb-5">Cambiar Contraseña</h1>                                
{% endblock titulo %}

{% block contenido %}
<div class="d-flex justify-content-center">
    <div class="card text-center shadow" style="max-width: 500px;">
        <div class="card-body">
            <h5 class="card-title text-success">¡Éxito!</h5>
            <p class="card-text">El cambio de contraseña ha sido exitoso.</p>
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">Volver al inicio de sesión</a>
        </div>
    </div>
</div>
{% endblock contenido %}