{% extends 'AppRubros/index.html' %}

{% load static %}
{% block header_style %}
    style="background-image: url('{% static 'assets/img/disenio.jpg' %}');
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;
           height: 400px;"
{% endblock header_style %}

{% block titulo %}
<h1 class="mb-4">Eliminar</h1>
{% endblock titulo %}

{% block contenido %}
  <h2>¿Estás seguro que querés eliminar "{{ object }}"?</h2>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Sí, eliminar</button>
    <a href="{% url 'lista_diseño' %}">Cancelar</a>
  </form>
{% endblock contenido %}